[Unit]
Description=WAVEGO Web Server
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/home/pi/robo/venv/bin/python /home/pi/robo/RPi/webServer.py
WorkingDirectory=/home/pi/robo/RPi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target